{% extends 'letar_printers/index.html' %}


{% block content %}
<div id="page1" class="gallary pages">

  <div id="home">
      <a class="a01" href="#">
        <div class="image03"><img src="https://www.inkpaste.co.ke/images/1521217495381rvcopy_1521217493.jpg?n=1521217497554set" alt=""></div>
        <h2 style="font-weight: bold; color: red; text-align: center; font-family: sans-serif;">Offset Printing Services </h2>
      <p>To Get the right prints and quality works, starts by  engaging RIGHT and  Trusted printing company.  Letar Printers has been at fore front in offering high quality branding and printing services in Nairobi and all over Kenya. 

    Our wide range of offset printing services is loved my many  organisations,companies,NGOs, SME, individuals among others. We have the capacity and human resource to handle any kind of printing tasks from an average printing works to bulky printing services in the shortest time Possible. whenever, you need any printing services in Kenya,count on us.</p>
      </a>
      <a class="a01" href="#">
        <div class="image03"><img src="https://www.inkpaste.co.ke/images/1521219037078rvcopy_1521219034.jpg?n=1521219038702set" alt=""></div>
        <h2 style="font-weight: bold; color: red; text-align: center; font-family: sans-serif;">Digital printing Services </h2>
        <p>To ensure we serve all our clients,we have digital printing services department to offer short run prints and items that need special attention.  

          Our digital print ensures work like certificates, business cards,manuals,training material,posters,brochures,invitation cards, small volume of labels and flyers among others are delivered on time.</p>
      </a>
      <a class="a01" href="#">
        <div class="image03"><img src="https://www.inkpaste.co.ke/images/solidstockart-stock-photo-pretty-young-woman-relaxing--967651rvcopy_1521221026.jpg?n=1521221030629set" alt=""></div>
        <h2 style="font-weight: bold; color: red; text-align: center; font-family: sans-serif;">Books printing and publishing </h2>
        <p>Stress free books printing process start by choosing the right printer for the printing and publishing services. Letar Printers is among the experienced books printing company in Kenya and in the region.


          Count on us to print all kind of books and publications which include: educational books, novels, story books, memoir, history books, textbooks, set books, religious books, religious books, workshop manuals and training books among others. 
          
          Unlike other printing companies in Kenya we take all kind of books printing order, whether small or huge volume. 
          
          Order books printing services from us today</p>
      </a>
      
    </div>

</div>

{% endblock %} 